*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

ul{
    width: 80vw;
}

a {
    all: unset;
}

a:hover{
    text-decoration: none;
}

.col{
    border: red solid 1px;
}

.row{
    height: 50vh;
}

.welcome-message{
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}